.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.item {
    margin-top: 20px;
}

.tip {
    width: 80px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #FF6136;
}

input {
    width: 300px;
    height: 40px;
    margin-left: 10px;
    font-size: 24px;
    border: 1px solid blue;
}

input:focus {
    border: 3px solid red;
}

.submit {
    width: 80px;
    height: 40px;
    background-color: #337AB7;
    border-radius: 10px;
    color: #fff;
    border: 0;
    font-size: 16px;
}

.submit:hover {
    background-color: #286090;
    cursor: pointer;
    font-weight: bold;
}